<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
  <log4net>
        <root>
          <appender-ref ref="CsvLogAppender"/>
        </root>
        <appender name="CsvLogAppender" type="AmSpaceTools.Infrastructure.CsvLogAppender">
          <file value="${LOCALAPPDATA}\AmSpaceTools\Logs\"/>
          <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
          <staticLogFileName value="false"/>
          <appendToFile value="true"/>
          <rollingStyle value="Composite"/>
          <datePattern value="yyyy-MM-dd'.csv'"/>
          <maxSizeRollBackups value="10"/>
          <maximumFileSize value="1MB"/>
          <layout type="log4net.Layout.DynamicPatternLayout">
              <param name="Header" value="Time,Level,Message,Exception%newline"/> 
              <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss},%-5level,%message,%exception{message}%newline"/>
          </layout>
        </appender>
    </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
